﻿@model LinkTagHelpers.Models.Phone

<h2>Add phone</h2>

<form asp-action="Create" asp-controller="Home" asp-antiforgery="true">
    <div>
        <div class="validation" asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Price"></label>
            <input asp-for="Price" />
        </div>
        <div>
            <label asp-for="CompanyId"></label>
            <select asp-for="CompanyId" asp-items="ViewBag.Companies"></select>
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>


    </div>
</form>
aa
<vk></vk>
bb