﻿@{ 
    ViewData["Title"] = "Home Page";
}
@using LinkTagHelpers.Models
@using LinkTagHelpers.ViewModels
@model DayTimeViewModel

@Html.ActionLink("Create", "Create", "Home")<br /><br />

<form method="post">
    <div>
        <label asp-for="Period"><b>DayTime</b></label>
        <select asp-for="Period" asp-items="Html.GetEnumSelectList<DayTime>()"></select>
    </div>
    <br />
    <div>
        <input type="submit" value="Save" />
    </div>
</form>

hollle
<vk></vk>

