﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>I'm layout</h1>
    <div>
        @RenderBody()
    </div>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <span>Содержание элемента footer по умолчанию.</span>
        }
    </footer>

</body>
</html>
