﻿@{
    ViewData["Title"] = "Complete your order";
}

<form method="post" class="form-horizontal" role="form">
    <input type="hidden" value="@ViewBag.PhoneId" name="PhoneId" />
    <p>Please fill next fields:</p>

    <div class="form-group">
        <label for="User" class="col-md-2 control-label">Name: </label>
        <div class="col-md-4"><input type="text" name="User" class="form-control" /></div>
    </div>

    <div class="form-group">
        <label for="Address" class="col-md-2 control-label">Address:</label>
        <div class="col-md-4"><input type="text" name="Address" class="form-control"/></div>
    </div>
            
    <div class="form-group">
        <label class="col-md-2 control-label">Phone:</label>
        <div class="col-md-4"><input type="text" name="ContactPhone" class="form-control" /></div>
    </div>   
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Order Now!" />
        </div>
    
</form>
