﻿@model IEnumerable<MobileStore.Models.Phone>
@{ 
    ViewData["Title"] = "Catalogue";
}


    <h3>Smartphones</h3>

    <table class="table-condensed table-bordered table-striped">
        <tr>
            <th>Model</th>
            <th>Make</th>
            <th>Price</th>
            <th></th>
        </tr>
        @foreach (var phone in Model)
        {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td><a href="~/home/Buy/@phone.Id">Buy</a></td>
        </tr>          
        }
    </table>