﻿@model IEnumerable<MobileStore.Models.Order>
@{
    ViewData["Title"] = "Orders";
}


<h3>Smartphones</h3>

<table class="table-condensed table-bordered table-striped">
    <tr>

        <th>Buyer</th>
        <th>Address</th>
        <th>ContactPhone</th>

    </tr>
    @foreach (var o in Model)
    {
        <tr>

            <td>@o.User</td>
            <td>@o.Address</td>
            <td>@o.ContactPhone</td>

        </tr>
    }
</table>