﻿@Html.DropDownList("phoneid", ViewBag.Phones as SelectList)
<br /><br />

@Html.ListBox("phones", new MultiSelectList(new string[] { "aaa","bbb", "ccc"}))

<br />
@using HtmlHelpers.App_Code
@using(Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.DropDownList("daytime", Html.GetEnumSelectList(typeof(TimeOfDay)))
    <br />
    <p>
        <input type="submit" value="send" />
    </p>

}