﻿@model HtmlHelpers.Models.Phone

<p>
    <b>Id:</b>
    @Html.Display("Id")
</p>
<p>
    <b>Model:</b>
    @Html.Display("Name")
</p>
<p>
    <b>Price</b>
    @Html.Display("Price")
</p>

<h3>Либо можно было бы вывести все данные разом:</h3>
@Html.DisplayForModel()