﻿@{
    ViewData["Title"] = "Home Page";
}

@{
    string[] cities = new string[] { "London", "Paris", "Tallinn" };
    string[] countries = new string[] { "UK", "France", "Estonia" };
}

@using HtmlHelpers.App_Code

<h3>Cities:</h3>
@Html.CreateList(cities)
<br />

<h3>Countries:</h3>
<!-- или можно вызвать так -->
@ListHelper.CreateList(Html, countries)



@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <p>
        <label>Model</label>
        @Html.TextBox("Name")
    </p>
    <p>
        <label>Price</label>
        @Html.TextBox("Price", "", new { type = "number" })
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
}

<h3>More html helpers</h3>
@Html.Label("Name", "Model")
<br />
@Html.TextArea("text", "Hello world")
<br />
@Html.Password("UserPassword", "val")
<br />
@Html.RadioButton("color", "red")<span>Red</span><br />
@Html.RadioButton("color", "green")<span>Green</span><br />
@Html.RadioButton("color", "blue", true)<span>Blue</span><br />

@Html.CheckBox("Enable", true) <br />

@Html.DropDownList("phone", new SelectList(new string[] { "Iphone X", "Galaxy S8", "Mi Note 5"}), "Choose Model")
