﻿@model HtmlHelpers.Models.Phone

@using(Html.BeginForm("StronglyTyped", "Home", FormMethod.Post))
{
    <p>
        @Html.LabelFor(m => m.Name, "Model")<br />
        @Html.TextBoxFor(m =>m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.Price, "Price")<br />
        @Html.TextBoxFor(m=> m.Price, "", new {type="number" })
    </p>
    <p>
        <input type="submit"value="send" />
    </p>
}