﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobileStore</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <!--Menu-->
   <nav class="navbar navbar-inverse">
       <div class="container">
           <div>
               <ul class="nav navbar-nav">
                   <li><a href="~/Home/Index" class="navbar-brand">Main Page</a></li>
               </ul>
           </div>
       </div>
   </nav>
    <!--Main content-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2018 - Dmitry Lukas</p>
        </footer>
    </div>



</body>
</html>
