﻿@model EFDataApp.Models.Phone

@{ 
    ViewBag.Title = "Delete Phone";
}

<div>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name)
        </dd>

        <dt>Company</dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name)
        </dd>
        
        <dt>Price</dt>
        <dd>
            @Html.DisplayFor(Model => Model.Price)
        </dd>
    </dl>

    <div>
        <form asp-controller="home" asp-action="delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Delete" />
            </div>
        </form>
    </div>
</div>