﻿@model EFDataApp.Models.Phone

@{ 
    ViewBag.Title = Model.Name;
}

<h2>Phone @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Manufactorer</dt>
        <dd>@Model.Company</dd>

        <dt>Price</dt>
        <dd>@Model.Price</dd>
    </dl>
</div>