﻿@{
    ViewData["Title"] = "All phones";
}
<br />
<a asp-action="Create">Add phone</a>
<br />

<table class="table">

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="details" asp-controller="home" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-controller="home" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="delete" asp-controller="home" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>