﻿<form method="post">
    <p>
        <label>Event:</label>
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Date: </label>
        <input type="date" name="Date" />
    </p>
    <p>
        <label>Time:</label>
        <input type="time" name="Time" />
    </p>
    <p>
        <input type="submit" value="Submit"
    </p>



</form>