﻿@model AuthCookieApp.ViewModels.RegisterModel

<h2>Registration</h2>

<form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div>
                <label asp-for="Email">Enter your Email</label><br />
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div>
                <label asp-for="Password">Enter your Password</label><br />
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div>
                <label asp-for="ConfirmPassword">Confirm Password</label><br />
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>
</form>