﻿@model FilterApp.ViewModels.UserListViewModel
@{
    ViewData["Title"] = "User list";
}

<a asp-action="pagination" class="btn btn-default">PaginationApp</a>

<h2>User List</h2>

<form method="get">
    <div class="form-inline form-group">

        <label class="control-label">Name: </label>
        @Html.TextBox("name", Model.Name, htmlAttributes: new { @class = "form-controll"})

        <label class="control-label">Company: </label>
        @Html.DropDownList("company", Model.Companies as SelectList,
            htmlAttributes: new  { @class="form-controll"})

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Name</th><th>Age</th><th>Company</th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
        </tr>

    }


</table>


