﻿@using FilterApp.Models
@using FilterApp.ViewModels
@model IndexViewModel
@addTagHelper *, FilterApp
@{
    ViewData["Title"] = "Pagination";
}

<h1>User list:</h1>

<table class="table">
    <tr><th>Name</th><th>Age</th><th>Company</th></tr>
    @foreach (User u in Model.Users)
    {
        <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company.Name</td></tr>
    }
</table>

<h3>Using pagination ViewModel:</h3>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Pagination" asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Back
    </a>
}

    @if (Model.PageViewModel.HasNextPage)
    {
    <a asp-action="Pagination" asp-route-page="@(Model.PageViewModel.PageNumber+1)"
       class="btn btn-default">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
    }

<h3>Using PageLinkTagHelper:</h3>
<page-link page-model="Model.PageViewModel" page-action="Pagination"></page-link>