﻿@model IEnumerable<CustomIdentityApp.Models.User>

<h2>Users list</h2>

<table class="table">
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid ="@user.Id">Acsessabilities</a>
            </td>
        </tr>
    }
</table>

