﻿<p>@await Component.InvokeAsync("BestPhone1")</p>

<p>@await Component.InvokeAsync("PhoneList", new { maxPrice = 55000})</p>

<p>@await Component.InvokeAsync("PhoneList", new { maxPrice = 55000, minPrice = 20000 })</p>

<h3>From ViewComponentResult:</h3>
<p>@await Component.InvokeAsync("PhoneList1", new { maxPrice = 55000})</p>

<p>@await Component.InvokeAsync("Header")</p>

<p>@await Component.InvokeAsync("PhoneList2")</p>

