﻿<form method="post">
    <p>
        <label>Name: </label>
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Age: </label>
        <input type="number" name="Age" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>





</form>