﻿@using ModelsApp.Models
@using ModelsApp.ViewModels
@model IndexViewModel
@{ 
    ViewData["Title"] = "Home Page";
}

<form>
    <label>Choose make:</label>
    <select name="companyId" class="form-control">
        @foreach(CompanyModel comp in Model.Companies)
        {
            <option value="@comp.Id">@comp.Name</option>
        }
    </select>
    <input type="submit" />
</form>

<br />

<table>
    @foreach (Phone p in Model.Phones)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Manufacturer?.Name</td>
            <td>@p.Price.ToString("C")</td>
        </tr>
    }
</table>