﻿@model MongoApp.Models.Phone

@{ 
    ViewData["Title"] = "New Model";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Home">
    <div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Company"></label>
            <input type="text" asp-for="Company" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="save" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Back to list</a>
</div>
