﻿@model MongoApp.Models.Phone

@{ 
    ViewData["Title"] = "Edit model";
}

<h2>ViewData["Title"]</h2>

<form asp-action="Edit" asp-controller="Home">
    <div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Company"></label>
            <input type="text" asp-for="Company" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>

    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Home">Back to list</a>
</div>