﻿@model MongoApp.ViewModels.IndexViewModel

@{ 
    ViewData["Title"] = "All phones";
}

<h2>@ViewData["Ttile"]</h2>
<form method="get">
    <div class="form-group">
        <label for="Filter.Name">Search by name</label>
        <input type="text" name="Filter.Name" value="@Model.Filter.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Filter.MinPrice">Minimum price</label>
        <input type="number" name="Filter.MinPrice" value="@Model.Filter.MinPrice" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Filter.MaxPrice">Maximum price</label>
        <input type="number" name="Filter.MaxPrice" value="@Model.Filter.MaxPrice" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="search" class="btn btn-default" />
    </div>
</form>

<p>
    <a asp-controller="Home" asp-action="Create">Add new</a>
</p>

<table class="table">
    <tr>
        <th>Model</th>
        <th>Company</th>
        <th>Price</th>
        <th>Image</th>
        <th></th>

    </tr>

    @foreach(var item in Model.Phones)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Company</td>
            <td>@item.Price.ToString("c")</td>
            <td>
                @if (item.HasImage())
                {
                    <img src="@Url.Action("GetImage", new { id=item.ImageId})" />
                }
            </td>
            <td>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                <a asp-controller="Home" asp-action="AttachImage" asp-route-id="@item.Id">Image</a>
            </td>
        </tr>

    }
</table>





