﻿@model ClaimsAuthApp.Models.RegisterModel


<h2>Registration</h2>

<form asp-action="Register" asp-controller="Account" asp-antiforgery="true">

    <div class="validation" asp-validation-summary="All"></div>


    <div>
        <div>
            <label asp-for="Email">Enter email</label>
            <input type="text" asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Enter Password</label>
            <input asp-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="Year">Year of birth</label>
            <input type="text" asp-for="Year" />
        </div>
        <div>
            <label asp-for="City">Your city</label>
            <input type="text" asp-for="City" />
        </div>
        <div>
            <label asp-for="Company">Company</label>
            <input type="text" asp-for="Company" />
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>






    </div>




</form>