﻿@using SortApp.Models
@model IndexViewModel
@addTagHelper *, SortApp
@{ 
    ViewData["Title"] = "Home page";
}


<h1>Users List</h1>

<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NameSort">
                Name
            </sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.AgeSort">
                Age
            </sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CompanySort">
                Company
            </sort-header>
        </th>
    </tr>
    @foreach(User u in Model.Users)
    {
        <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company.Name</td></tr>

    }


</table>