﻿@{ 
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="LogOff">
         <input type="submit" value="Log Out" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-default">Log in</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-default">Register</a>
}