﻿@using FilterSortPagingApp.Models
@using FilterSortPagingApp.ViewModels
@using FilterSortPagingApp.TagHelpers
@model IndexViewModel
@addTagHelper *, FilterSortPagingApp
@{ 
    ViewData["Title"] = "Helper's home page";
}

<h1>Users:</h1>

<form method="get">
    <div class="form-group form-inline">
        <label class="control-label">Name: </label>
        @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control"})
    
        <label class="control-label">Company:</label>
        @Html.DropDownList("company", Model.FilterViewModel.Companies as SelectList,
       htmlAttributes: new { @class = "form-control"})

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>


<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Name</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.AgeSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Возраст</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CompanySort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-company="@(Model.FilterViewModel.SelectedCompany)">Компания</a>
        </th>
    </tr>
    @foreach(User u in Model.Users)
    {
        <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company.Name</td></tr>
    }
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-company="@(Model.FilterViewModel.SelectedCompany)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>