﻿@model CustomIdentityApp.ViewModels.ChangePasswordViewModel

@{ 
    ViewBag.Title = "Change Password";
}

<h2>Change passfword for user @Model.Email</h2>

<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">New Password</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>

</form>