﻿@model IEnumerable<CustomIdentityApp.Models.User>

@{ 
    ViewBag.Title = "Users list";
}

<a asp-action="Create">Add user</a>

<table class="table">
    <tr><th>Email</th><th>Year</th></tr>

    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Email</td>
        <td>@user.Year</td>
        <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
        <td><a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change Password</a></td>
        <td><a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a></td>
    </tr>
    }


</table>

