﻿@{
    ViewData["Title"] = "Home Page";
}
@using TagHelpersApp.TagHelpers

<vk>Profile link</vk>


<div header>First paragraf</div>
<div header>Second Paragraf</div>

@{ 
    List<string> countries = new List<string> { "Russia", "USA", "Germany" };
    List<string> cities = new List<string> { "Moscow", "California", "Berlin" };
}

<list elements="countries"></list>
<list elements="cities"></list>

@using TagHelpersApp.Models
@{ 
    Book myBook = new Book { Id = 1, Title = "Harry Potter", Author = "Johana Roling", Year = 2001 };
}
<book-info book="myBook"></book-info>


