﻿@Html.Partial("_GetMessage")


<form method="post" action="~/Home/Square">
    <label>Heigth:</label><br />
    <input type="number" name="heigth" /><br />
    <label>Width:</label><br />
    <input type="number" name="width" /><br />
    <input type="submit" value="Send" />
</form>


