﻿@{ 
    ViewData["Title"] = "Login";
}

<form method="post">
    <label>Login:</label>
    <input type="text" name="login" /><br />
    <label>Password:</label>
    <input type="text" name="pwd" /><br />
    <label>Is married?</label>
    <input type="checkbox" name="isMarried" value="true" /><br />
    <label>Phone: </label>
    <select multiple name="phone">
        <option value="Samsung">Samsung</option>
        <option value="Nokia">Nokia</option>
        <option value="Apple">Apple</option>
        <option value="Sony">Sony</option>
    </select>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>