﻿@model List<string>

@{ 
    ViewBag.Title = "About";
}

<h3>There are @Model.Count elements in list from VM</h3>

@foreach (string country in Model)
{
    <p>@country</p>

}

<footer>
    ViewMudel footer
</footer>